// SPDX-License-Identifier: GPL-2.0+
//
// Copyright 2012 Freescale Semiconductor, Inc.

/dts-v1/;
#include "imx28-brain.dtsi"

/ {
	model = "SHARP Brain PW-SH3";
	compatible = "sharp,pw-sh3", "sharp,brain", "fsl,imx28";
};

&brainlcd {
	status = "okay";

	sharp,lcd-width = <854>;
	sharp,lcd-height = <480>;
	sharp,lcd-width-mm = <121>;
	sharp,lcd-height-mm = <68>;

	sharp,mac-flip-y-gs;
	sharp,mac-transpose;

	sharp,en-gpios =
		<&gpio0 26 GPIO_ACTIVE_HIGH>,
		<&gpio0 27 GPIO_ACTIVE_HIGH>,
		<&gpio4 16 GPIO_ACTIVE_HIGH>;
};
